.block-container {
    background-color: white;
    padding: 35px;
    margin: 20px 0;
    box-shadow: 0 12px 24px rgba(0,0,0,.22), 0 8px 8px rgba(0,0,0,.23);

    .block-label {
        font-size: 34px;
        line-height: 140%;
    }
}