@import "../../color";

.DefaultFieldView {
  margin: 15px 0;

  &-label {
    font-size: 16px;
    line-height: 140%;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  }

  &-error {
    padding: 5px 5px;
    color: white;
    font-weight: 500;
    background-color: @error;
  }

  input {
    outline: none;
    border: none;
  }

  .TextField-container, .SelectField-container {
    display: flex;
    background-color: @highlight-light;
    border-left: solid transparent 5px;
    align-items: center;
    padding: 10px 10px 10px 5px;

    input {
      flex: 1;
      font-size: 18px;
      background-color: @highlight-light;
    }

    textarea {
      font-size: 18px;
      resize: vertical;
      background-color: transparent;
      border: none;
      width: 100%;
      overflow: auto;
      outline: none;
      box-shadow: none;
    }

    select {
      font-size: 18px;
      width: 100%;
      box-shadow: none;
      background-color: @highlight-light;
      border: none;
      outline: none;
    }

    .TextField-symbol {
      padding: 0 5px;
      font-size: 22px;
      color: @primary;
    }
  }

  &.field-default {
    .TextField-container, .SelectField-container {
      border-left-color: @primary;
    }
  }

  &.field-valid {
    .TextField-container, .SelectField-container {
      border-left-color: @valid;
    }
  }

  &.field-error {
    .TextField-container, .SelectField-container {
      border-left-color: @error;
    }
  }
}



