@import "../../color";

.FieldView {
  margin: 15px 0;

  &-label {
    font-size: 16px;
    line-height: 140%;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  }

  &-error-message {
    padding: 5px 5px;
    color: white;
    font-weight: 500;
    background-color: @error;
  }
}

.TextField-container {
  input {
    background-color: @highlight-light;
    border: none;
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    border-left: solid transparent 5px;
  }
}

.FieldWrapper.field{
  &-default {
    .TextField-container input {
      border-left-color: @primary;
    }
  }
  &-valid {
    .TextField-container input {
      border-left-color: @valid;
    }
  }

  &-error {
    .TextField-container input {
      border-left-color: @error;
    }
  }
}